<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
link(href='./Style/reset.css', rel='stylesheet')
link(href='./Style/main.css', rel='stylesheet')

.header
    .title Agenda
    .dates-box
        .date
            .day 1
            .month Aug
        .date
            .day 2
            .month Aug
        .date
            .day 3
            .month Aug
        .date
            .day 4
            .month Aug
        .date
            .day 5
            .month Aug

.main
    .section
        .time
            .talks
                .profile
                .info
                    .title
                    .name
                    .length



