<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
link(href='./Style/reset.css', rel='stylesheet')
link(href='./Style/main.css', rel='stylesheet')

.header
    .title Agenda
    .dates

.main
    .section
        .time
            .talks
                .profile
                .info
                    .title
                    .name
                    .length



