<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
link(href='./Style/reset.css', rel='stylesheet')
link(href='./Style/main.css', rel='stylesheet')
script(src='https://use.fontawesome.com/37717ea680.js')

body
    .header
        .title Agenda
        .dates-box
            .date
                .day 1
                .month Aug
            .date
                .day 2
                .month Aug
            .date.is-selected
                .day 3
                .month Aug
            .date
                .day 4
                .month Aug
            .date
                .day 5
                .month Aug

    .main
        .section
            .time 10:00 AM
                .talks
                    .profile 
                        img(src='Img/image-1.png', alt='Speaker')
                    .info
                        .title On the politics of experience
                        .name Lauren Willams
                        .length <i class="fa fa-clock-o" aria-hidden="true"></i> 45 min
                .talks
                    .profile 
                        img(src='Img/image-2.png', alt='Speaker')
                    .info
                        .title Design as a Superpower
                        .name Masami Kamei
                        .length <i class="fa fa-clock-o" aria-hidden="true"></i> 45 min

        .section
            .time 11:00 AM
                .talks
                    .profile 
                        img(src='Img/image-3.png', alt='Speaker')
                    .info
                        .title On the politics of experience
                        .name Lauren Willams
                        .length <i class="fa fa-clock-o" aria-hidden="true"></i> 45 min

        .section
            .time 12:00 PM
                .talks
                    .profile 
                        img(src='Img/image-1.png', alt='Speaker')
                    .info
                        .title On the politics of experience
                        .name Lauren Willams
                        .length <i class="fa fa-clock-o" aria-hidden="true"></i> 45 min
                .talks
                    .profile 
                        img(src='Img/image-2.png', alt='Speaker')
                    .info
                        .title Design as a Superpower
                        .name Masami Kamei
                        .length <i class="fa fa-clock-o" aria-hidden="true"></i> 45 min
                .talks
                    .profile 
                        img(src='Img/image-3.png', alt='Speaker')
                    .info
                        .title On the politics of experience
                        .name Lauren Willams
                        .length <i class="fa fa-clock-o" aria-hidden="true"></i> 45 min
                        

        .section
            .time 10:00 AM
                .talks
                    .profile 
                        img(src='Img/image-1.png', alt='Speaker')
                    .info
                        .title On the politics of experience
                        .name Lauren Willams
                        .length <i class="fa fa-clock-o" aria-hidden="true"></i> 45 min
                .talks
                    .profile 
                        img(src='Img/image-2.png', alt='Speaker')
                    .info
                        .title Design as a Superpower
                        .name Masami Kamei
                        .length <i class="fa fa-clock-o" aria-hidden="true"></i> 45 min


    .footer-bar
        .item
            .icon <i class="fa fa-newspaper-o fa-4x" aria-hidden="true"></i>
            .name News
        .item
            .icon <i class="fa fa-info-circle fa-4x" aria-hidden="true"></i>
            .name Info
        .item.is-selected
            .icon <i class="fa fa-calendar-check-o fa-4x" aria-hidden="true"></i>
            .name Agenda
        .item
            .icon <i class="fa fa-map-marker fa-4x" aria-hidden="true"></i>
            .name Location
        .item
            .icon <i class="fa fa-microphone fa-4x" aria-hidden="true"></i>
            .name Speakers

    .hide
        .information