body
    background: #faf8f8

// ---------------------------------------------
// -- Header Section ---------------------------
// ---------------------------------------------

 

.header
    background: #ff5847
    height: 42vw
    max-height: 395px
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75)
    position: fixed
    top:0
    width: 100%

.title
    padding-top:75px
    color: white
    text-align: center
    text-transform: uppercase
    letter-spacing: 20px
    font:
        size: 70px
        family: 'Open Sans Condensed', sans-serif

.dates-box
    width: 90%
    margin-left: 5%
    margin-top: 10px
    display: flex
    flex-direction: row 
    justify-content: center
    align-items: center

.date
    width: 19vw
    max-width: 200px
    height: 19vw
    max-height: 200px
    margin-left: 1%
    margin-right: 1%
    color: white
    &.is-selected
        color: #ff5847
        background: white
        border-radius: 50%
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75)

.day
    width: 100%
    text-align: center
    font:
        size: 60px
        family: 'Open Sans Condensed', sans-serif
    margin-top: 60px

.month
    width: 100%
    text-align: center
    text-transform: uppercase
    font:
        size: 20px
        family: 'Open Sans Condensed', sans-serif 

.main
    margin-top: 400px
    margin-bottom: 200px
.section
    margin-top: 80px
    width: 90%
    margin-left: 5%
    background: white
    border-radius: 5px
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75)
    .time
        font:
            size: 50px
            family: 'Open Sans Condensed', sans-serif
        letter-spacing: 5px
        padding: 40px
        .talks
            display: flex
            flex-direction: row 
            justify-content: center  
            margin-top: 50px 
            justify-content: space-between        
            .profile
                border-radius: 100px
                overflow: hidden
                height: 200px
                width: 200px
                img
                    height: 200px
                    width: 200px
            .info
                padding-left: 30px
                padding-top: 30px
                text-align: left
                width: 600px
                .title
                    color: black
                    padding: 0px
                    letter-spacing: 2px
                    text-align: left
                    font:
                        size: 45px
                        family: 'Open Sans Condensed', sans-serif
                .name
                    color: #bdadac
                    font:
                        size: 30px
                        family: 'Open Sans Condensed', sans-serif
                .length
                    font:
                        size: 30px
                        family: 'Open Sans Condensed', sans-serif




.footer-bar
    position: fixed
    bottom: 0
    width: 100%
    background: white
    display: flex
    flex-direction: row 
    justify-content: center

.item
    width: 20vw
    height: 16vw
    max-height: 125px
    padding-top: 50px
    &.is-selected
        color: white
        background: #ff5847
    .name
        text-align: center
        font:
            size: 50px
            family: 'Open Sans Condensed', sans-serif 

.icon
    text-align: center 